// Updated New One

.experiment {
  &_container {
    height: 600vh; // Change this to controll horizontal scrolling speed
    position: relative;
  }
  &_header {
    //  text-align: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 5rem;
    font-family: "Archivo", sans-serif;
    //  -webkit-text-stroke: 2px #ffffff;
    font-weight: 800;
    margin: 10px 0;
    //  color: transparent;
    width: 50%;
    //  border-bottom: 2px solid black;
    //  background-color: #0040ff;
    //  border-bottom: 2px solid rgba(0, 0, 0, 0.074);s
    background-image: url("../../../public/img/textFillOne.jpeg");
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  &_sticky {
    position: sticky;
    top: 50px;
    width: 100%;
    height: 100vh;
    // border: 2px solid black;
    padding: 0rem 5rem;
  }
  &_list {
    display: flex;
    gap: 3rem;
    // border: 2px solid yellow;
    height: 70%;
  }
  &_item {
    position: relative;
    display: inline-block;
  }
  &_item:hover &_overlay {
    opacity: 1;
  }
  &_img {
    width: auto;
    height: 100%;
    display: block;
  }
  &_overlay {
    background: url(https://media.tenor.com/uHVmd0uBuU0AAAAC/bored-ape-yacht-club-nft.gif)
      no-repeat center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    color: #fff;
    font-family: "Questrial", sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    opacity: 0;
    transition: opacity 0.3s ease;
    box-sizing: border-box;
    padding: 2rem 2.5rem 0;
  }
  &_overlay--discover {
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: 600;
    color: white;
  }
  &_item--link {
    height: 10%;
    width: 100%;
    background-color: rgba($color: black, $alpha: 0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-self: flex-end;
  }
}

@media (max-width: 500px) {
  .experiment_container {
    display: none;
  }
}
